<div class="row">
	<div class="col-md-10 col-centered">
		<div ng-repeat="bar in bars" class="bar-frame">
			<img ng-src="{{bar.image_url}}" class="img-rounded bar-image" onerror="this.onerror=null; this.src='https://i.imgur.com/QQMf8ON.png'"
			/>
			<div>
				<h4>
					<a ng-href="{{bar.url}}" style="text-decoration: none" target="_blank">
					    {{bar.name}}
				    </a>
				</h4>
				<button ng-click="go(bar)" class="btn btn-sm btn-primary">&nbsp; Going &nbsp;</button>
				<p ng-hide="!bar.snippet_text">{{bar.snippet_text}}</p>
				<p ng-hide="bar.snippet_text">No review found.</p>
			</div>
		</div>
	</div>
</div>