@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

#main-title{
    margin-top: 3%;
    font-family: 'Bree Serif';
}

.col-centered{
    float: none;
    margin: 0 auto;
}

#searchForm{
    margin: 5% auto 3% auto;
}

#noBarsAvailable{
    margin: auto;
    display: none;
}

.bar-frame{
    margin: 2% auto;
    border: 2px solid dodgerblue;
    border-radius: 10px;
    overflow: hidden; /*useful to acertain the height of this div when it contains floating elements*/
}

.bar-frame:hover{
    background-color: lightgrey;
    border: 2px solid blueviolet;
}

.bar-image{
    height: 100px;
    width: 100px;
    margin: 1%;
    float: left; /*used to display text inline*/
}

#foot{
    margin: 5% auto;
}
